@model IEnumerable<BookInformationSystem.Models.Domain.Publisher>
@{
}

<div class="container pt-5">
    <div class="row p-3">
        <div class="col-8 text-left">
            <h3>Publisher</h3>
        </div>
        <div class="col-4 text-right ml-auto">
            <a class="btn btn-dark" href="/Publisher/Add">+ Add More</a>>
        </div>
        <form asp-controller="Publisher" asp-action="GetAll">
            <div class="input-group m-2">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="SearchString">
                <button class="btn btn-dark" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-dark">
            <thead>
                <tr>
                    <th>Publisher Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.PublisherName</td>
                            <td>
                                <a class="btn btn-success" href="/Publisher/Update?id=@item.Id"><i class="bi bi-pen"></i></a>
                                <a class="btn btn-danger" onclick="return window.confirm('Are you sure?')" href="/Publisher/Delete?id=@item.Id"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
        <br />
        @if (ViewBag.Page > 0)
        {
            <a href="@Url.Action("GetAll", new { page = ViewBag.Page - 1 })"
           class="btn btn-default">
                &laquo; Prev
            </a>
        }
        @if (ViewBag.Page < ViewBag.MaxPage)
        {
            <a href="@Url.Action("GetAll", new { page = ViewBag.Page + 1 })"
           class="btn btn-default">
                Next &raquo;
            </a>
        }
        @if (!Model.Any())
        {
            <p class="text-muted text-center mt-4">No authors found.</p>
        }
    </div>
</div>